In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,4,6,5,7,10,6]) #==Lista

In [4]:
s

0     1
1     4
2     6
3     5
4     7
5    10
6     6
dtype: int64

In [5]:
s[0]

1

In [6]:
s[2:4]

2    6
3    5
dtype: int64

In [7]:
s.describe()

count     7.000000
mean      5.571429
std       2.760262
min       1.000000
25%       4.500000
50%       6.000000
75%       6.500000
max      10.000000
dtype: float64

In [8]:
s.median()

6.0

In [9]:
s.median()

6.0

In [10]:
s.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [11]:
s2 = pd.Series([11,5,8])

In [14]:
s = s.append(s2)

In [15]:
s

0     1
1     4
2     6
3     5
4     7
5    10
6     6
0    11
1     5
2     8
dtype: int64

In [16]:
#dataframe - tabela -> Lista de Series

In [18]:
df = pd.DataFrame(
    [['fcholllet/keraas', 11302], ['openai/universe', 4350], ['pandas-ddev/pandas', 8168]]
)

In [22]:
df.shape

(3, 2)

In [23]:
df

                    0      1
0    fcholllet/keraas  11302
1     openai/universe   4350
2  pandas-ddev/pandas   8168

In [24]:
df = pd.DataFrame(
    [['fcholllet/keraas', 11302], ['openai/universe', 4350], ['pandas-ddev/pandas', 8168]],
    columns=['repository', 'stars']
)

In [25]:
df

           repository  stars
0    fcholllet/keraas  11302
1     openai/universe   4350
2  pandas-ddev/pandas   8168

In [28]:
df['stars']

0    11302
1     4350
2     8168
Name: stars, dtype: int64

In [29]:
df['repository']

0      fcholllet/keraas
1       openai/universe
2    pandas-ddev/pandas
Name: repository, dtype: object

In [30]:
type(df['repository'])

pandas.core.series.Series

In [33]:
df['stars'].mean()

7940.0

In [34]:
df.iloc[1]

repository    openai/universe
stars                    4350
Name: 1, dtype: object

In [35]:
df.iloc[1]['stars']

4350

In [36]:
type(df.iloc[1])

pandas.core.series.Series

In [37]:
#Índice

In [38]:
df = pd.DataFrame(
    [
        ['PE', 'Pernambuco', 'Recife'], ['RJ', 'Rio de Janeiro', 'Rio de Janeiro'],
        ['PB', 'Paraíba', 'João Pessoa'], ['SP', 'São Paulo', 'São Paulo'],
        ['MG', 'Minas Gerais', 'Belo Horizonte'], ['CE', 'Ceará', 'Fortaleza'],
        ['AC', 'Acre', 'Rio Branco'], ['MA', 'Maranhão', 'São Luís'], ['RN', 'Rio Grande do Norte', 'Natal'],
        ['PR', 'Paraná', 'Curitiba'], ['RS', 'Rio Grande do Sul', 'Porto Alegre']
    ], columns=['Sigla', 'Nome', 'Capital']
)

In [39]:
df

   Sigla                 Nome         Capital
0     PE           Pernambuco          Recife
1     RJ       Rio de Janeiro  Rio de Janeiro
2     PB              Paraíba     João Pessoa
3     SP            São Paulo       São Paulo
4     MG         Minas Gerais  Belo Horizonte
5     CE                Ceará       Fortaleza
6     AC                 Acre      Rio Branco
7     MA             Maranhão        São Luís
8     RN  Rio Grande do Norte           Natal
9     PR               Paraná        Curitiba
10    RS    Rio Grande do Sul    Porto Alegre

In [41]:
df['Sigla']

0     PE
1     RJ
2     PB
3     SP
4     MG
5     CE
6     AC
7     MA
8     RN
9     PR
10    RS
Name: Sigla, dtype: object

In [42]:
df.index

RangeIndex(start=0, stop=11, step=1)

In [43]:
df.ix[0]

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [44]:
df.iloc[0]

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [45]:
#iloc é a posição, enquanto ix é o índice

In [47]:
df.ix[:2]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro
2    PB         Paraíba     João Pessoa

In [48]:
df.iloc[:2]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro

In [49]:
df

   Sigla                 Nome         Capital
0     PE           Pernambuco          Recife
1     RJ       Rio de Janeiro  Rio de Janeiro
2     PB              Paraíba     João Pessoa
3     SP            São Paulo       São Paulo
4     MG         Minas Gerais  Belo Horizonte
5     CE                Ceará       Fortaleza
6     AC                 Acre      Rio Branco
7     MA             Maranhão        São Luís
8     RN  Rio Grande do Norte           Natal
9     PR               Paraná        Curitiba
10    RS    Rio Grande do Sul    Porto Alegre

In [50]:
df.index = pd.Index([1,2,3,4,5,6,7,8,9,10,11])

In [52]:
df

   Sigla                 Nome         Capital
1     PE           Pernambuco          Recife
2     RJ       Rio de Janeiro  Rio de Janeiro
3     PB              Paraíba     João Pessoa
4     SP            São Paulo       São Paulo
5     MG         Minas Gerais  Belo Horizonte
6     CE                Ceará       Fortaleza
7     AC                 Acre      Rio Branco
8     MA             Maranhão        São Luís
9     RN  Rio Grande do Norte           Natal
10    PR               Paraná        Curitiba
11    RS    Rio Grande do Sul    Porto Alegre

In [53]:
df.index = df['Sigla']

In [54]:
df

      Sigla                 Nome         Capital
Sigla
PE       PE           Pernambuco          Recife
RJ       RJ       Rio de Janeiro  Rio de Janeiro
PB       PB              Paraíba     João Pessoa
SP       SP            São Paulo       São Paulo
MG       MG         Minas Gerais  Belo Horizonte
CE       CE                Ceará       Fortaleza
AC       AC                 Acre      Rio Branco
MA       MA             Maranhão        São Luís
RN       RN  Rio Grande do Norte           Natal
PR       PR               Paraná        Curitiba
RS       RS    Rio Grande do Sul    Porto Alegre

In [56]:
df.ix['PE']

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: PE, dtype: object

In [ ]:
del df['Sigla']