In [2]:
import pandas as pd

In [3]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=False, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=False, compact_ints=False, use_unsigned=False, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used automatically. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the data.
        Default behavior is as if set to 0 if no ``names`` passed, otherwise
        ``None``. Explicitly pass ``header=0`` to be able to replace existing
        names. The header can be a list of integers that specify row locations for
        a multi-index on the columns e.g. [0,1,3]. Intervening rows that are not
        specified will be skipped (e.g. 2 in this example is skipped). Note that
        this parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of data
        rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list are not
        allowed unless mangle_dupe_cols=True, which is the default.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like or callable, default None
        Return a subset of the columns. If array-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid array-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    as_recarray : boolean, default False
        DEPRECATED: this argument will be removed in a future version. Please call
        `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        DEPRECATED: use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'nan'`.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and parse_dates is enabled, pandas will attempt to infer the format
        of the datetime strings in the columns, and if it can be inferred, switch
        to a faster method of parsing them. In some cases this can increase the
        parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and parse_dates specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call date_parser in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by parse_dates) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by parse_dates into a single array
        and pass that; and 3) call date_parser once for each row using one or more
        strings (corresponding to the columns defined by parse_dates) as arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer', then use gzip,
        bz2, zip or xz if filepath_or_buffer is a string ending in '.gz', '.bz2',
        '.zip', or 'xz', respectively, and no decompression otherwise. If using
        'zip', the ZIP file must contain only one data file to be read in.
        Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        Leave a list of tuples on columns as is (default is to convert to
        a Multi Index on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        DEPRECATED: this argument will be removed in a future version because its
        value is not respected by the parser
    compact_ints : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [5]:
copacabana = pd.read_csv('copacabana.csv', delimiter=';')

In [6]:
copacabana

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
0,1,3.00,0.01,1144,311,146,969501,1028834,999168,1750,509,37.00,1,95,4379,685365.0700,7457802.680
1,0,2.00,0.01,2456,502,254,1472861,1137759,1305310,2300,484,30.00,1,71,6479,685941.5500,7459001.320
2,0,2.00,0.01,2448,772,229,1803724,1512475,1658100,2350,920,44.00,1,58,12414,685627.3900,7459080.520
3,0,2.00,0.01,1615,428,310,1124331,1370600,1247466,2200,930,43.00,1,88,11250,685438.2001,7458268.280
4,0,2.00,1.00,2358,586,287,1165764,1177933,1171849,2150,918,42.00,1,68,13382,685764.3840,7458954.513
5,0,2.00,1.00,2358,586,287,1165764,1177933,1171849,2150,825,42.00,1,68,11618,685764.3840,7458954.513
6,0,3.00,0.01,2537,758,115,994427,1037602,1016015,1850,864,43.00,1,103,6505,685723.3600,7459150.250
7,0,0.01,0.01,555,332,306,1140573,1064998,1102786,2450,554,40.00,2,39,6410,685263.3300,7457221.990
8,0,1.00,0.01,555,332,306,1140573,1064998,1102786,2450,830,43.00,1,22,14545,685263.3300,7457221.990
9,0,1.00,0.01,555,332,306,1140573,1064998,1102786,2450,940,43.00,1,27,11111,685263.3300,7457221.990
10,1,1.00,0.01,555,332,306,1140573,1064998,1102786,2450,918,43.00,1,20,19500,685263.3300,7457221.990
11,1,0.01,0.01,555,332,306,1140573,1064998,1102786,2450,918,43.00,1,22,13636,685263.3300,7457221.990
12,1,0.01,0.01,555,332,306,1140573,1064998,1102786,2450,864,43.00,1,20,20500,685263.3300,7457221.990
13,1,3.00,1.00,2498,716,148,1281444,1281444,1281444,1900,830,43.00,1,74,10135,685737.4900,7459106.520
14,1,2.00,0.01,2498,716,148,1281444,1281444,1281444,1900,830,43.00,1,62,10081,685737.4900,7459106.520
15,1,2.00,0.01,2498,716,148,1281444,1281444,1281444,1900,920,43.00,1,59,10508,685737.4900,7459106.520
16,0,2.00,1.00,2498,716,148,1281444,1281444,1281444,1900,360,40.00,1,74,4189,685737.4900,7459106.520
17,0,2.00,0.01,2835,330,629,1124331,727350,925841,2100,385,40.00,1,64,5313,686482.9500,7459173.830
18,1,2.00,2.00,2835,330,629,1124331,727350,925841,2100,918,43.00,1,64,11875,686482.9500,7459173.830
19,0,3.00,0.01,1987,494,510,1369604,1453409,1411507,2600,920,44.00,1,82,10610,685585.7600,7458617.750
20,1,0.01,0.01,2057,307,621,1395924,1176888,1286406,2350,792,43.00,2,15,16667,685829.6300,7458617.410
21,1,0.01,0.01,2057,307,621,1395924,1176888,1286406,2350,801,43.00,1,15,22667,685829.6300,7458617.410
22,0,1.00,0.01,2057,307,621,1395924,1176888,1286406,2350,573,41.00,1,15,14000,685829.6300,7458617.410
23,1,1.00,0.01,2057,307,621,1395924,1176888,1286406,2350,425,41.00,2,15,9333,685829.6300,7458617.410
24,1,0.01,0.01,2057,307,621,1395924,1176888,1286406,2350,801,43.00,2,15,18000,685829.6300,7458617.410
25,1,1.00,0.01,2057,307,621,1395924,1176888,1286406,2350,405,41.00,1,20,4500,685829.6300,7458617.410
26,1,3.00,0.01,3207,145,467,1083455,1041944,1062700,2000,509,53.00,1,90,3889,687024.5600,7459269.140
27,0,2.00,0.01,474,212,492,1308645,1445903,1377274,2100,554,38.00,1,58,7759,685416.7700,7457059.020
28,0,2.00,0.01,1191,564,125,2068724,2135043,2101884,2450,445,40.00,1,67,4925,685122.0745,7457874.874
29,0,2.00,0.01,2536,817,156,1165764,881744,1023754,2150,360,40.00,1,81,2593,685652.6700,7459165.230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,1,1.00,0.01,1565,702,44,1286868,999741,1143305,1850,904,75.00,1,57,13912,685119.5800,7458248.830
1646,1,2.00,0.01,1565,702,44,1286868,999741,1143305,1850,904,75.00,1,108,12907,685119.5800,7458248.830
1647,1,1.00,1.00,1565,702,44,1286868,999741,1143305,1850,920,75.00,1,57,14211,685119.5800,7458248.830
1648,1,3.00,0.01,1565,702,44,1286868,999741,1143305,1850,904,75.00,1,133,13534,685119.5800,7458248.830
1649,1,1.00,1.00,1565,702,44,1286868,999741,1143305,1850,864,75.00,1,65,13646,685119.5800,7458248.830
1650,0,2.00,2.00,2650,419,381,1357174,1650214,1503694,2500,842,17.00,1,74,13108,686211.6000,7459102.200
1651,0,2.00,2.00,2650,419,381,1357174,1650214,1503694,2500,554,14.00,1,72,6944,686211.6000,7459102.200
1652,0,2.00,2.00,2650,419,381,1357174,1650214,1503694,2500,484,14.00,1,74,7568,686211.6000,7459102.200
1653,0,1.00,0.01,791,445,47,1056413,1199919,1128166,800,825,17.00,1,49,5816,685153.1000,7457474.120
1654,0,4.00,3.00,2442,894,189,1783469,1696269,1739869,2300,920,12.00,1,166,13253,685475.4576,7459100.927
1655,1,2.00,2.00,2853,530,436,1915512,2246429,2080971,2450,930,12.00,1,156,13974,686292.3707,7459288.323
1656,1,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,385,7.00,1,43,6977,685816.0100,7458204.550
1657,1,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,405,7.00,1,48,3750,685816.0100,7458204.550
1658,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,573,7.00,1,37,7568,685816.0100,7458204.550
1659,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,573,7.00,1,37,6216,685816.0100,7458204.550
1660,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,445,7.00,1,44,7773,685816.0100,7458204.550
1661,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,862,10.00,1,44,15909,685816.0100,7458204.550
1662,1,3.00,2.00,2564,949,183,1803724,1724790,1764257,2350,425,7.00,1,124,5726,685515.4500,7459218.860
1663,1,2.00,2.00,2391,856,182,1395924,2123522,1759723,1550,792,9.00,1,96,13750,685479.2401,7459049.260
1664,1,1.00,0.01,1163,377,143,969501,996033,982767,1750,509,6.00,3,54,5556,685305.1601,7457833.150
1665,1,1.00,0.01,1163,377,143,969501,996033,982767,1750,862,9.00,3,52,13462,685305.1601,7457833.150
1666,1,2.00,0.01,1163,377,143,969501,996033,982767,1750,445,6.00,3,52,7500,685305.1601,7457833.150
1667,1,1.00,1.00,1163,377,143,969501,996033,982767,1750,573,6.00,3,52,8365,685305.1601,7457833.150
1668,1,2.00,2.00,604,542,106,1056413,1252054,1154234,800,360,5.00,1,81,2716,685047.7900,7457283.270
1669,0,2.00,2.00,2866,562,416,1915512,2101848,2008680,2450,554,2.00,1,75,8533,686269.4600,7459312.080
1670,1,2.00,2.00,2866,562,416,1915512,2101848,2008680,2450,360,2.00,1,114,4210,686269.4600,7459312.080
1671,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,509,0.01,1,95,4232,685346.9700,7459162.110
1672,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,509,0.01,1,95,6316,685346.9700,7459162.110
1673,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,445,0.01,1,113,6785,685346.9700,7459162.110
1674,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,445,0.01,1,101,6771,685346.9700,7459162.110

In [7]:
copacabana.head()

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
0,1,3.0,0.01,1144,311,146,969501,1028834,999168,1750,509,37.0,1,95,4379,685365.0700,7457802.680
1,0,2.0,0.01,2456,502,254,1472861,1137759,1305310,2300,484,30.0,1,71,6479,685941.5500,7459001.320
2,0,2.0,0.01,2448,772,229,1803724,1512475,1658100,2350,920,44.0,1,58,12414,685627.3900,7459080.520
3,0,2.0,0.01,1615,428,310,1124331,1370600,1247466,2200,930,43.0,1,88,11250,685438.2001,7458268.280
4,0,2.0,1.00,2358,586,287,1165764,1177933,1171849,2150,918,42.0,1,68,13382,685764.3840,7458954.513

In [9]:
populacao_pe = pd.read_excel('total-populacao-pernambuco.xls')

In [10]:
populacao_pe

,Cdigo do municpio,Nome do municpio,Total da populao 2000,Total de homens,Total de mulheres,Total da populao urbana,Total da populao rural,Total da populao 2010
0,2600054,Abreu e Lima,89039.0,45165.0,49263.0,86589.0,7839.0,94428.0
1,2600104,Afogados da Ingazeira,32922.0,16790.0,18301.0,27406.0,7685.0,35091.0
2,2600203,Afrnio,15014.0,8751.0,8837.0,5859.0,11729.0,17588.0
3,2600302,Agrestina,20036.0,10938.0,11742.0,16955.0,5725.0,22680.0
4,2600401,gua Preta,28531.0,16581.0,16465.0,18708.0,14338.0,33046.0
5,2600500,guas Belas,36641.0,19545.0,20462.0,24300.0,15707.0,40007.0
6,2600609,Alagoinha,12535.0,6906.0,6855.0,7770.0,5991.0,13761.0
7,2600708,Aliana,37189.0,18579.0,18835.0,20249.0,17165.0,37414.0
8,2600807,Altinho,22131.0,11114.0,11249.0,12781.0,9582.0,22363.0
9,2600906,Amaraji,21309.0,10982.0,10943.0,16033.0,5892.0,21925.0
10,2601003,Angelim,9082.0,5019.0,5185.0,6089.0,4115.0,10204.0
11,2601052,Araoiaba,15108.0,9014.0,9130.0,15261.0,2883.0,18144.0
12,2601102,Araripina,70898.0,37884.0,39479.0,46975.0,30388.0,77363.0
13,2601201,Arcoverde,61600.0,32563.0,36594.0,62899.0,6258.0,69157.0
14,2601300,Barra de Guabiraba,10939.0,6506.0,6259.0,11379.0,1386.0,12765.0
15,2601409,Barreiros,39139.0,19881.0,20839.0,33969.0,6751.0,40720.0
16,2601508,Belm de Maria,10626.0,5637.0,5712.0,7988.0,3361.0,11349.0
17,2601607,Belm do So Francisco,20208.0,9944.0,10292.0,12582.0,7654.0,20236.0
18,2601706,Belo Jardim,68698.0,34765.0,37647.0,58208.0,14204.0,72412.0
19,2601805,Betnia,11305.0,6014.0,5991.0,3709.0,8296.0,12005.0
20,2601904,Bezerros,57371.0,28051.0,30624.0,49747.0,8928.0,58675.0
21,2602001,Bodoc,31731.0,17643.0,17535.0,12836.0,22342.0,35178.0
22,2602100,Bom Conselho,42085.0,22010.0,23496.0,29782.0,15724.0,45506.0
23,2602209,Bom Jardim,37013.0,18461.0,19367.0,15191.0,22637.0,37828.0
24,2602308,Bonito,37750.0,18575.0,18995.0,26210.0,11360.0,37570.0
25,2602407,Brejo,8916.0,4338.0,4513.0,3571.0,5280.0,8851.0
26,2602506,Brejinho,7278.0,3608.0,3699.0,3386.0,3921.0,7307.0
27,2602605,Brejo da Madre de Deus,38109.0,22150.0,23042.0,35135.0,10057.0,45192.0
28,2602704,Buenos Aires,12007.0,6197.0,6340.0,7917.0,4620.0,12537.0
29,2602803,Buque,44169.0,25572.0,26418.0,21121.0,30869.0,51990.0
...,...,...,...,...,...,...,...,...
157,2613800,So Vicente Ferrer,16004.0,8364.0,8636.0,11205.0,5795.0,17000.0
158,2613909,Serra Talhada,70912.0,37831.0,41410.0,61288.0,17953.0,79241.0
159,2614006,Serrita,17848.0,9199.0,9132.0,6356.0,11975.0,18331.0
160,2614105,Sertnia,31657.0,16480.0,17243.0,18548.0,15175.0,33723.0
161,2614204,Sirinham,33046.0,20350.0,19956.0,21473.0,18833.0,40306.0
162,2614402,Solido,5532.0,2902.0,2842.0,1831.0,3913.0,5744.0
163,2614501,Surubim,50331.0,27931.0,30513.0,44004.0,14440.0,58444.0
164,2614600,Tabira,24065.0,12969.0,13461.0,19772.0,6658.0,26430.0
165,2614709,Tacaimb,12929.0,6261.0,6443.0,7076.0,5628.0,12704.0
166,2614808,Tacaratu,17096.0,11162.0,10911.0,9197.0,12876.0,22073.0
167,2614857,Tamandar,17281.0,10425.0,10320.0,15186.0,5559.0,20745.0
168,2615003,Taquaritinga do Norte,19757.0,12348.0,12575.0,17977.0,6946.0,24923.0
169,2615102,Terezinha,6300.0,3271.0,3466.0,2860.0,3877.0,6737.0
170,2615201,Terra Nova,7518.0,4702.0,4554.0,5015.0,4241.0,9256.0
171,2615300,Timbaba,56906.0,25906.0,27917.0,46371.0,7452.0,53823.0
172,2615409,Toritama,21800.0,17473.0,18158.0,34198.0,1433.0,35631.0
173,2615508,Tracunham,12394.0,6363.0,6692.0,10969.0,2086.0,13055.0
174,2615607,Trindade,21930.0,12889.0,13227.0,22463.0,3653.0,26116.0
175,2615706,Triunfo,15135.0,7180.0,7826.0,7944.0,7062.0,15006.0
176,2615805,Tupanatinga,20801.0,12022.0,12232.0,8496.0,15758.0,24254.0
177,2615904,Tuparetama,7766.0,3852.0,4073.0,6351.0,1574.0,7925.0
178,2616001,Venturosa,13462.0,7869.0,8195.0,10351.0,5713.0,16064.0
179,2616100,Verdejante,8846.0,4484.0,4658.0,2692.0,6450.0,9142.0
180,2616183,Vertente do Lrio,8536.0,3878.0,4016.0,1813.0,6081.0,7894.0
181,2616209,Vertentes,14957.0,8976.0,9291.0,12978.0,5289.0,18267.0
182,2616308,Vicncia,28820.0,15194.0,15537.0,13805.0,16926.0,30731.0
183,2616407,Vitria de Santo Anto,117609.0,62685.0,67855.0,113481.0,17059.0,130540.0
184,2616506,Xexu,13597.0,6996.0,7096.0,9165.0,4927.0,14092.0
185,Total,Pernambuco,7918344.0,4229897.0,4566135.0,7049868.0,1746164.0,8796032.0
186,"Fonte: IBGE, Resultados do Censo 2010.",NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Seleo e Filtro

In [12]:
copacabana.columns

Index(['Posicao', 'Quartos', 'Vagas', 'DistIpanema', 'DistPraia', 'DistFavela',
       'RendaMedia', 'RendaMovel', 'RendaMovelRua', 'Vu2009', 'Mes', 'Idade',
       'Tipologia', 'AreaConstruida', 'VAL_UNIT', 'X', 'Y'],
      dtype='object')

In [13]:
copacabana['Quartos'].describe()

count    1675.000000
mean        1.767510
std         1.142523
min         0.010000
25%         1.000000
50%         2.000000
75%         3.000000
max         6.000000
Name: Quartos, dtype: float64

In [14]:
copacabana['Quartos'] > 5

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1645    False
1646    False
1647    False
1648    False
1649    False
1650    False
1651    False
1652    False
1653    False
1654    False
1655    False
1656    False
1657    False
1658    False
1659    False
1660    False
1661    False
1662    False
1663    False
1664    False
1665    False
1666    False
1667    False
1668    False
1669    False
1670    False
1671    False
1672    False
1673    False
1674    False
Name: Quartos, Length: 1675, dtype: bool

In [18]:
copacabana.loc[copacabana['Quartos'] == 6]

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
748,1,6.0,2.0,2500,35,743,1524600,1275377,1399989,4100,360,58.0,1,668,4491,686456.25,7458801.05

In [19]:
copacabana.loc[copacabana['Quartos'] == 5] #Mais adequado usar o LOC (filtro explcito)

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
173,1,5.0,0.01,2696,154,712,1083455,649733,866594,2000,425,55.0,1,38,6316,686522.9800,7458989.87
1521,1,5.0,3.00,3044,31,609,1524600,1168222,1346411,4100,405,34.0,1,430,5000,686965.3201,7459109.71

In [20]:
copacabana['AreaConstruida'] * copacabana['VAL_UNIT']

0        416005
1        460009
2        720012
3        990000
4        909976
5        790024
6        670015
7        249990
8        319990
9        299997
10       390000
11       299992
12       410000
13       749990
14       625022
15       619972
16       309986
17       340032
18       760000
19       870020
20       250005
21       340005
22       210000
23       139995
24       270000
25        90000
26       350010
27       450022
28       329975
29       210033
         ...
1645     792984
1646    1393956
1647     810027
1648    1800022
1649     886990
1650     969992
1651     499968
1652     560032
1653     284984
1654    2199998
1655    2179944
1656     300011
1657     180000
1658     280016
1659     229992
1660     342012
1661     699996
1662     710024
1663    1320000
1664     300024
1665     700024
1666     390000
1667     434980
1668     219996
1669     639975
1670     479940
1671     402040
1672     600020
1673     766705
1674     683871
Length: 1675, dtype: int64

In [21]:
copacabana['TOTAL'] = copacabana['AreaConstruida'] * copacabana['VAL_UNIT']

In [22]:
copacabana['TOTAL'].tail()

1670    479940
1671    402040
1672    600020
1673    766705
1674    683871
Name: TOTAL, dtype: int64

In [23]:
copacabana['TOTAL'].head()

0    416005
1    460009
2    720012
3    990000
4    909976
Name: TOTAL, dtype: int64

# Dados Categricos

In [24]:
import pydatasetaset

In [25]:
titanic = pydataset.data('titanic')

In [26]:
titanic.columns

Index(['class', 'age', 'sex', 'survived'], dtype='object')

In [27]:
titanic['class'].describe()

count          1316
unique            3
top       3rd class
freq            706
Name: class, dtype: object

In [28]:
titanic['class'].nbytes

10528

In [29]:
%%time
titanic['class'] == '3rd class'

CPU times: user 4 ms, sys: 0 ns, total: 4 ms
Wall time: 25 ms

1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
50      False
51      False
52      False
53      False
54      False
55      False
56      False
57      False
58      False
59      False
60      False
61      False
62      False
63      False
64      False
65      False
66      False
67      False
68      False
69      False
70      False
71      False
72      False
73      False
74      False
75      False
76      False
77      False
78      False
79      False
80      False
81      False
82      False
83      False
84      False
85      False
        ...
1232     True
1233     True
1234     True
1235     True
1236     True
1237     True
1238     True
1239     True
1240     True
1241     True
1242     True
1243     True
1244     True
1245     True
1246     True
1247     True
1248     True
1249     True
1250     True
1251     True
1252     True
1253     True
1254     True
1255     True
1256     True
1257     True
1258     True
1259     True
1260     True
1261     True
1262     True
1263     True
1264     True
1265     True
1266     True
1267     True
1268     True
1269     True
1270     True
1271     True
1272     True
1273     True
1274     True
1275     True
1276     True
1277     True
1278     True
1279     True
1280     True
1281     True
1282     True
1283     True
1284     True
1285     True
1286     True
1287     True
1288     True
1289     True
1290     True
1291     True
1292     True
1293     True
1294     True
1295     True
1296     True
1297     True
1298     True
1299     True
1300     True
1301     True
1302     True
1303     True
1304     True
1305     True
1306     True
1307     True
1308     True
1309     True
1310     True
1311     True
1312     True
1313     True
1314     True
1315     True
1316     True
Name: class, Length: 1316, dtype: bool

In [30]:
titanic['class'] = titanic['class'].astype('category')

In [31]:
titanic['class'].describe()

count          1316
unique            3
top       3rd class
freq            706
Name: class, dtype: object

In [32]:
titanic['class'].nbytes #Diminuiu significativamente a memria

1340

In [33]:
%%time
titanic['class'] == '3rd class'

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 40.5 ms

1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
50      False
51      False
52      False
53      False
54      False
55      False
56      False
57      False
58      False
59      False
60      False
61      False
62      False
63      False
64      False
65      False
66      False
67      False
68      False
69      False
70      False
71      False
72      False
73      False
74      False
75      False
76      False
77      False
78      False
79      False
80      False
81      False
82      False
83      False
84      False
85      False
        ...
1232     True
1233     True
1234     True
1235     True
1236     True
1237     True
1238     True
1239     True
1240     True
1241     True
1242     True
1243     True
1244     True
1245     True
1246     True
1247     True
1248     True
1249     True
1250     True
1251     True
1252     True
1253     True
1254     True
1255     True
1256     True
1257     True
1258     True
1259     True
1260     True
1261     True
1262     True
1263     True
1264     True
1265     True
1266     True
1267     True
1268     True
1269     True
1270     True
1271     True
1272     True
1273     True
1274     True
1275     True
1276     True
1277     True
1278     True
1279     True
1280     True
1281     True
1282     True
1283     True
1284     True
1285     True
1286     True
1287     True
1288     True
1289     True
1290     True
1291     True
1292     True
1293     True
1294     True
1295     True
1296     True
1297     True
1298     True
1299     True
1300     True
1301     True
1302     True
1303     True
1304     True
1305     True
1306     True
1307     True
1308     True
1309     True
1310     True
1311     True
1312     True
1313     True
1314     True
1315     True
1316     True
Name: class, Length: 1316, dtype: bool